@import 'variabless.less';

@media screen and (max-width: 1199px) {

 .main-container{
   padding-left: 15px;
   padding-right: 15px;
 }
}
@media screen and (max-width: 1024px) {

  .advantages {

  }

  .advantages-container {
    padding-top: 88px;
    padding-bottom: 124px;

    .advantages-title {

    }

    .advantage-block {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .advantage {
        width: 290px;
        height: 290px;
        margin: 20px;

        img {

        }

        .advantage-title {

        }

        .advantage-text {

        }

        &:hover {

        }
        &:last-child{
          order: 2;
        }

        &:nth-child(2) {
          margin-right: 20px;
          margin-left: 20px;
          order: 3;
        }
 
      }
    }
  }

}
@media screen and (max-width: 768px) {
  .header-container {

  
    .burger {
      display: block;

    }
  
    .menu {
      display: none;
    }
  
    .menu-hide {


   .menu{
    display: block;
   }
    }
  }
}