@import 'variabless.less';

@media screen and (max-width: 1199px) {

 .main-container{
   padding-left: 15px;
   padding-right: 15px;
 }
}
@media screen and (max-width: 1024px) {

  .advantages {

  }

  .advantages-container {
    padding-top: 88px;
    padding-bottom: 124px;

    .advantages-title {

    }

    .advantage-block {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .advantage {
        width: 290px;
        height: 290px;
        margin: 20px;

        img {

        }

        .advantage-title {

        }

        .advantage-text {

        }

        &:hover {

        }
        &:last-child{
          order: 2;
        }

        &:nth-child(2) {
          margin-right: 20px;
          margin-left: 20px;
          order: 3;
        }
 
      }
    }
  }

}
@media screen and (max-width: 900px) {
  .order {
    .order-container {
      .flex-center-center;
      flex-wrap: wrap;

      .price-block {
        margin-bottom: 36px;
        text-align: center;

        .price-list {
          margin-left: 0;
          text-align: center;

          li {
            h3 {
              text-align: center;

            }
          }
        }
      }

      .order-block {

        align-items: center;

        .order-title {
          margin-bottom: 48px;
          max-width: 450px;
        }

        .order-form {

          margin-right: 0;

          .order-input {

            .form-control {

              &::placeholder {
                color: var(--fbf5b6op08);
                background-color: var(--04151C);
                font-size: 20px;
              }
            }

            .invalid-feedback {
              display: none;
              margin-left: 10px;
            }
          }

          .order-button {
            width: 360px;
          }
        }
      }
    }
  }

}
@media screen and (max-width: 768px) {
  .header-container {

  
    .burger {
      display: block;

    }
  
    .menu {
      display: none;
    }
  
    .menu-hide {


   .menu{
    display: block;
   }
    }
  }
}